* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #081E45;
    color: white;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    color: #00A3FF;
    font-weight: bold;
}

.pagina-pix main {
    flex: 1;
    background-color: #f6f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.transacao {
    background: white;
    width: 50%;
    padding: 40px;
    border-radius: 12px;
}

.transacao h2 {
    margin-bottom: 20px;
    color: #004AAD;
    font-size: 20px;
    font-weight: 800;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
    color: #A4A2A2;
}

input {
    border: #d3cccc 2px solid;
    outline:none;
    border-radius: 5px;
    padding: 5px;
}

.mensagem-status {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-pix {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #081E45;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-status {
    width: 100%;
    padding: 10px;
    background-color: #dfdede;
    color: #081E45;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}

#link-extrato {
    margin-top: 20px;
    color: #004AAD;
    font-weight: bold;
    text-decoration: none;
}

footer {
    background: #081E45;
    padding: 25px 0;
    text-align: center;
    margin-top: auto;
}

footer p {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* EXTRATO */
.pagina-extrato main {
    flex: 1;
    background: #f6f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
}

.extrato-card {
    background: white;
    width: 60%;
    max-width: 900px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    overflow-x: auto;
}

.extrato-card table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    min-width: 600px; 
}

thead {
    background: #081E45;
    color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    font-size: 15px;
}

.extrato-card a {
    color: #004AAD;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

@media (max-width: 900px) {
    .extrato-card {
        width: 80%;
        padding: 30px;
    }
}

@media (max-width: 600px) {

    header h1 {
        font-size: 26px;
        text-align: center;
    }

    .extrato-card {
        width: 100%;
        padding: 20px;
    }

    th, td {
        font-size: 13px;
        padding: 10px;
    }

    .extrato-card a {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .extrato-card {
        padding: 15px;
    }

    th, td {
        font-size: 12px;
        padding: 8px;
    }
}
